span.twitter-typeahead
{
    width: 100% !important;
}

span.twitter-typeahead input.typeahead
{
    width: 100% !important;
}

span.twitter-typeahead input.typeahead.tt-hint
{
    color: #999;
}

span.twitter-typeahead .tt-menu
{
    width: 100%;
    color: #999;
}

span.twitter-typeahead .tt-menu .tt-highlight
{
    font-weight: normal;
    color: #000;
}

span.twitter-typeahead .tt-menu .tt-cursor
{
    background: #F6F6F6;
}