.form {
  .list.error {
    .item {
      font-size: 14px;
      color: #999;
    }
  }

  //
  // customise UIKIT
  //

  .uk-sortable {
    margin: 0;
    padding: 0;
  }

  .uk-sortable li {
    list-style: none;
    margin-bottom: 15px;
  }

  .custom-nestable-handle {
    border-radius: 4px;
    border: 1px dashed #cfcfcf;
    background: #fcfcfc;
    padding: 2px 1px;
    margin-bottom: 10px;
    text-align: right;
  }

  .uk-sortable-transition {
    max-height: 40px;

    .custom-nestable-handle {
      background: #ffe;
    }

    .field {
      display: none;
    }
  }
}
